@model CoverMe.Web.Models.HomePageModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/Layouts/Front/_Layout.cshtml";
}

    <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">Welcome to  Cover Me!</h1>
                            <p class="lead text-white-50 mb-4">Cover your fellow colleagues and apply to take off for vacation days in advance!</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                                <a class="btn btn-outline-light btn-lg px-4 text-orange" asp-area="Identity" asp-controller="Account" asp-action="Login">Login</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 d-none d-lg-block"><img class="mt-4" src="~/img/coverme_logo.png"></div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container pt-xxl-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope-paper"></i></div>
                        <h2 class="fw-bolder text-uppercase">Apply for days off</h2>
                        <p>Apply to take off for a certain amount of days that are needed.</p>
                        <a class="text-decloration-none text-orange" href="#!">
                            Apply Now
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-check-lg"></i></div>
                        <h2 class="fw-bolder text-uppercase">Cover for days on</h2>
                        <p>Be a kind, thoughtful colleague by covering for other co-workers' shift for them and earn account points!</p>
                        <a class="text-decoration-none text-orange" href="#!">
                            Cover Now
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-calendar3"></i></div>
                        <h2 class="fw-bolder text-uppercase">See Call Off Calendar</h2>
                        <p>Check what days are avalible to take off and what days to cover with the Call Off Calendar.</p>
                        <a class="text-decoration-none text-orange" href="#!">
                            Call Off Calendar
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Pricing section-->
        <section class="py-5 container-xl">
            <div class="row row-cards">
              <div class="col-sm-6 col-lg-3">
                <div class="card card-md">
                  <div class="card-body text-center">
                    <div class="text-uppercase text-muted font-weight-medium">Small Buisness</div>
                    <div class="display-5 fw-bold my-3">$20</div>
                    <ul>
                        <li><strong>5-10</strong> Employees</li>
                    </ul>
                    <div class="text-center mt-4">
                      <a href="#" class="btn w-100">Choose plan</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="card card-md">
                  <div class="ribbon ribbon-top ribbon-bookmark bg-green">
                    <!-- Download SVG icon from http://tabler-icons.io/i/star -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"></path></svg>
                  </div>
                  <div class="card-body text-center">
                    <div class="text-uppercase text-muted font-weight-medium">Medium Buiness</div>
                    <div class="display-5 fw-bold my-3">$49</div>
                    <ul>
                        <li><strong>10-25</strong> Employees</li>
                    </ul>
                    <div class="text-center mt-4">
                      <a href="#" class="btn btn-green w-100">Choose plan</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="card card-md">
                  <div class="card-body text-center">
                    <div class="text-uppercase text-muted font-weight-medium">Large Buisness</div>
                    <div class="display-5 fw-bold my-3">$99</div>
                    <ul>
                        <li><strong>25-75</strong> Employees</li>
                    </ul>
                    <div class="text-center mt-4">
                      <a href="#" class="btn w-100">Choose plan</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="card card-md">
                  <div class="card-body text-center">
                    <div class="text-uppercase text-muted font-weight-medium">XLarge Buisness</div>
                    <div class="display-5 fw-bold my-3">$149</div>
                    <ul>
                        <li><strong>75+</strong> Employees</li>
                    </ul>
                    <div class="text-center mt-4">
                      <a href="#" class="btn w-100">Choose plan</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="card card-md">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col">
                        <h2 class="h3">Not sure if Cover Me is right? Try a free 1 month small buisness trial!</h2>
                        <p class="m-0 text-muted">Cover Me is designed to work smooth with smaller buisnesses all the way up to large companies.</p>
                      </div>
                      <div class="col-auto">
                        <a href="#" class="btn btn-blue text-white">
                          Free Trial
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        <!-- Testimonials section-->
        <section class="py-5 border-bottom">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Customer testimonials</h2>
                    <p class="lead mb-0">Our customers love working with us</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <!-- Testimonial 1-->
                        <div class="card mb-4">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">Thank you for putting together such a great product. My team and I love the ease you bring to the work space and we will be recommending you to others!</p>
                                        <div class="small text-muted">- Jacob H, FL</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial 2-->
                        <div class="card mb-4">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">Thanks to Cover Me, my small buisness became a lot more managable when it came to my employees needing days off.</p>
                                        <div class="small text-muted">- Zora C, CA</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial 3-->
                        <div class="card mb-4">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">My very large company has no problems with employees taking off for days and trying to find people to cover all thanks to Cover Me allowing everything needed to work a lot smoother!</p>
                                        <div class="small text-muted">- Micheal T, PA</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


@section Scripts {
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script type="text/javascript">


        $(document).ready(function () {

            if (@Model.NewRegister.ToString().ToLower())
            {
                Swal.fire({
                    title: 'WOAH!',
                    text: "Make sure to confirm your email address",
                    icon: 'warning',
                }).then((result) => {

                });
            }

        });

    </script>

}