@{
    Layout = "Layouts/Empty/_Layout";
}

<div class="container-narrow py-4">
    <div class="text-center mb-2">
        <div class="navbar-brand navbar-brand-autodark">
            <div class="d-flex flex-row">
                <div class="p-3">
                    <img src="/img/coverme_man_nobg.png" style="height: 7rem" alt="">
                </div>
                <div class="align-self-center">
                    <div class="fs-1 fw-bolder">CoverMe</div>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-md">
        <div class="card-body">
            <h2 class="fw-bold">Privacy Policy</h2>
            <br/>
            <div class="markdown">
                <p>.</p>
                <hr>
                <div>
                    <h3>Header 1</h3>
                    <p>.</p>
                    <p>.</p>
                </div>
                <div>
                    <h3>Header 2</h3>
                    <p>.</p>
                    <p>Praesent laoreet, mi ac ultricies rhoncus, tortor magna mattis erat, eget egestas justo sem id risus. Sed purus turpis, mattis eu blandit eget, facilisis sed purus. Aliquam a iaculis dolor. Aenean ultrices ante est, at malesuada metus iaculis vitae. Aliquam erat volutpat. Aliquam condimentum orci vel nunc eleifend sollicitudin. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam pharetra eros at commodo tincidunt. Ut ut elementum neque, sed commodo magna. In eu libero ut massa scelerisque aliquet. Sed ultrices semper velit, at gravida est elementum at.</p>
                    </div>
                <div>
                    <h3>Header 3</h3>
                    <p>Quisque et vulputate sem, in ultricies tellus. Donec rhoncus porttitor elementum. Nulla mi diam, elementum ut nulla quis, mollis commodo turpis. Fusce vel maximus neque. Aenean sit amet feugiat justo. Nulla consequat orci eget porttitor consequat. Vivamus nisi nulla, lobortis id ligula eu, pellentesque pulvinar lectus. Nunc vel blandit velit, vel rutrum orci. Morbi vitae cursus lacus. Vestibulum mattis blandit molestie. Duis quis congue lectus. Quisque a porttitor nulla, ac laoreet mauris. Fusce fringilla tincidunt felis, nec molestie massa vulputate sit amet.</p>
                    <p>Donec quis dignissim augue, ac pretium nisl. Suspendisse euismod efficitur ante vel scelerisque. Cras turpis justo, sollicitudin eget auctor in, euismod id quam. Maecenas eu luctus ante. Integer aliquam venenatis nunc, vitae iaculis enim posuere eget. Duis suscipit eros et pulvinar dignissim. Donec id varius nibh. Sed tellus orci, malesuada eget cursus sed, ornare id nulla. Aliquam erat volutpat. Aliquam elit nunc, congue eget neque eget, porta vulputate mi. Praesent id fermentum justo. Proin nisl risus, lacinia sed lectus vel, venenatis molestie quam. Aliquam euismod quis velit et efficitur. Ut dapibus euismod diam, a pellentesque augue egestas et. Mauris scelerisque nunc est, eget convallis nulla egestas eget. Morbi fermentum vehicula ante in vestibulum./p>
                </div>
                <div>
                    <h3>Header 4</h3>
                    <p>Maecenas vel sem sagittis, maximus orci sit amet, vehicula quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam nec nulla sed urna convallis tincidunt sed sed nibh. Aenean a euismod dolor. Curabitur molestie nulla id luctus dictum. Proin pellentesque tellus at neque iaculis feugiat. Nam sollicitudin, ipsum non efficitur maximus, est urna rutrum magna, eget fringilla augue metus ac dui. Donec aliquet feugiat est a finibus. Pellentesque feugiat pellentesque lacinia. Nam quis interdum nisl, non aliquet quam. Maecenas hendrerit massa justo, quis feugiat dolor viverra eget. Phasellus vestibulum ac nibh at ullamcorper. Maecenas lobortis pretium vestibulum. Vestibulum erat justo, porta non faucibus at, placerat et felis.</p>
                    <p>Maecenas quis ipsum rutrum, faucibus purus vitae, tristique tellus. Suspendisse sit amet purus ornare, dignissim mauris eu, vulputate tortor. Fusce aliquet et arcu nec faucibus. Praesent tincidunt bibendum euismod. Maecenas tincidunt arcu vitae molestie imperdiet. Donec tempor et lorem eget euismod. Fusce finibus semper lacus, vel vestibulum dui elementum in. Nunc convallis arcu eget velit sollicitudin fringilla id et tortor. Sed vehicula, orci et posuere luctus, sapien mauris tempor nibh, id hendrerit nunc arcu in metus. Aliquam justo ipsum, porta cursus rhoncus a, pretium vitae quam. Maecenas lacinia faucibus tortor, at cursus lacus mattis vitae.</p>
                </div>
            </div>
        </div>
    </div>
</div>