@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Index";
}
<h2> Calendar 2022 - 2023</h2>
<div class="col-12">
<div class="card" style="height: 29rem">
<div class="card-body card-body-scrollable bg-orange-lt"  >
<div class="divide-y">
<div class="col-lg-3 d-none d-lg-block w-100"><img class="mt-10" src="~/img/2022 2023Calendar.jpg"></div>
