@model UserViewModel

@{
    ViewData["Title"] = "account created";
}
<div class="page-header d-print-none mb-2">
    <div class="row align-items-center">
        <div class="page-pretitle">
            Identity
        </div>
        <h2 class="page-title">
            User Created
        </h2>
    </div>
</div>
<h3 class="descriptioncontainer">
    please confirm in your email
</h3>
<a asp-action="Index" class="btn btn-default">Back to List</a>

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css" />
}

    @section Scripts {
    <script src="~/vendor/select2/select2.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $('.js-select2').select2();
        });
    </script>
}